/* Cuerpo de la página */
body {
    width: 1200px;
    margin: 0 auto;
    font: 16px Arial, sans-serif;
    background: #f4faff;
    color: #222;
}

/* Header */
#header {
    background: linear-gradient(90deg, #0077b6, #00b4d8);
    color: #fff;
    text-align: center;
    border: 2px solid #004b75;
    padding: 20px;
}

/* Barra de navegación */
#header nav a {
    color: #fff;
    font-weight: bold;
    margin: 0 10px;
    text-decoration: none;
}

#header nav a:hover {
    text-decoration: underline;
}

/* Contenedor */
#contenedor {
    width: 1200px;
    overflow: hidden;
}

/* Sidebar lateral */
#sidebar {
    float: left;
    width: 212px;
    border: 2px solid #4caf50;
    padding: 15px;
    background: #d9f5d2;
    height: 700px;
    position: relative;
}

#sidebar p {
    text-indent: 20px;
}

#sidebar h3 {
    text-decoration: underline;
}

#sidebar a {
    position: absolute;
    bottom: 10px;
}

/* Contenido principal */
#principal {
    float: left;
    width: 920px;
    border: 2px solid #219ebc;
    padding: 15px;
    background: #e6f0ff;
    height: 700px;
    margin-bottom: 84px;
}

#principal h2 {
    text-decoration: underline;
}

/* Footer */
#footer {
    background: #2b2d42;
    color: #fff;
    text-align: center;
    border: 2px solid #1a1c2c;
    width: 1166px;
    height: 50px;
    padding: 15px;
    position: fixed;
    bottom: 0px;
    clear: both;
}

/* Enlaces globales */
a {
    color: #0077b6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Imagenes*/
img {
    max-height: 200px;
    width: auto;
    height: auto;
    margin: 10px auto;
}

#bloque1 {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

#bloque1 h1 {
    text-decoration: underline;
}

/* Estilo formulario */
form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #2196F3;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

fieldset {
    border: none;
}

label {
    display: block;
    margin: 10px 0 0 0;
}

input[type="text"],
textarea,
select {
    width: 200px;
    padding: 8px;
    margin: 5px 0 0 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="text"] {
    color: #0077b6;
}

button {
    display: block;
    margin: 15px 0 0 0;
    font-size: 16px;
    width: 100px;
}

button[type="submit"] {
    background-color: #2196F3;
    color: white;
}

button[type="submit"]:hover {
    background-color: #1976D2;
}